<div class="main-content">

    <div class="section-content section-content-p30">

        <h4>{{ currentCategoryName }}</h4>
        <hr>
        <!-- <div class="container-fluid">
            <div *ngFor="let tempCategory of categories">
                <h2>{{tempCategory.categoryName}}</h2>
            </div> -->

        <div class="container-fluid">
            <div class="row">
                <div *ngFor="let tempProduct of products" class="col-md-2">
                    <div class="product-box">
                        <a routerLink="/products/{{tempProduct.id}}"> <img src="{{ tempProduct.imageUrl}}"
                                class="img-responsive" /> </a>
                        <a routerLink="/products/{{tempProduct.id}}">
                            <h2>{{ tempProduct.name}}</h2>
                        </a>
                        <div class="align-middle">{{ tempProduct.unitPrice | currency:'USD'}}</div>
                      
                       <button name="AddToCart" (click)="addToCart(tempProduct)" class="btn btn-primary btn-sm"> Add to cart </button>

                     <!--  It s CORRECT TOO
                         <a  (click)="addToCart(tempProduct.unitPrice)" class="btn-primary">Add to cart ref</a>  -->

                    </div>
                </div>
                <!-- If No Product found via Serach, we use 'save navigation operator:?' and the role attribut is for VISUALL IMPAIRED -->
                <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    No Products Found
                </div>
            </div>

            <!-- begin footer PAGINATION-->
            <div class="footer-pagination">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-9" style="padding-left: 30%">

                                <ngb-pagination [(page)]="thePageNumber" [pageSize]="thePageSize"
                                    [collectionSize]="theTotalElements" 
                                    [maxSize]="5"
                                    [boundaryLinks]=true
                                    (pageChange)="listProducts()">

                                </ngb-pagination>
                            </div>
                            <div  class="col-md-3-mt-2" style="text-align:right;">
                                <span class="mr-2">Page Size: </span>
                                <select (change)="updatePageSize($event.target.value)">
                                    <option value="5">5</option>
                                    <option value="10" selected=true>10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <input [(ngModel)]="thePageSize" > -->
            </div>
            <!-- end footer -->
        </div>
    </div>
</div>